[sonar.properties]
sonar.cxx.defines=CHECK_QUALITY

[cppcheck]
command = {executable} \
    %(ignores)s \
    -i build.%(binary_tag_o2g)s -i build.%(binary_tag_dbg)s \
    --xml \
    --output-file=%(output_file)s \
    %(enable)s \
    --language=%(language)s \
    --std=%(std)s \
    --enable=%(enable)s \
    %(flags)s \
    %(suppress)s \
    -I {strict_includes} \
    %(project_sources_cpp)s \
    -j 2
